
    .yoda-frame{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 600px;
    }
    .not-found{
      position: absolute;
      top: 50%;
      width: 100%;
    }
    .yoda-frame_notfound{
      position: relative;
      margin:auto;
      bottom: 0;
      right: 0;
      width: 600px;
  }
    .yoda-loader{
        display:none;
    }
    #yoda {
      max-width: 100%;
      max-height: 100%;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    
    #contours {
      fill: none;
      stroke: white;
      stroke-width: 2;
      stroke-miterlimit:10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; 
    }
    #contours-visage {
      fill: none;
      stroke: white;
      stroke-width: 2;
      stroke-miterlimit:10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 5s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; 
    }
    
    #details {
      fill: none;
      stroke: white;
      stroke-width: 1;
      stroke-miterlimit:10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 10s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; 
    }
    #details-visage {
      fill: none;
      stroke: white;
      stroke-width: 1;
      stroke-miterlimit:10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 15s;
      animation-delay:1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; 
    }
    #details-visage-2 {
      fill: none;
      stroke: white;
      stroke-width: 0.5;
      stroke-miterlimit:10;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation: draw 35s;
      animation-delay:1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: linear; 
    }
    #eyes-color {
      opacity:0;
      fill:white;
      animation: show 4s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
    
    #light-saber {
      opacity:0;
      fill: url(#gradient);
      filter: url(#f1);
      animation: plasma 1s;
      animation-delay: 3.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }
    #light-saber-2 {
      fill: none;
      stroke: white;
      stroke-width: 1;
      stroke-miterlimit:10;
      stroke-dasharray: 4000;
      stroke-dashoffset: 4000;
      animation: draw 3s;
      animation-delay: 3.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }

    
    @keyframes draw {
      to {
        stroke-dashoffset: 0;
     }
        }
    @keyframes show {
      to {
        opacity:1;
     }
        }
    @keyframes plasma {
      to {
        opacity:1;
     }
        }
    @media only screen and (max-width: 600px) {
      .not-found{
        position: absolute;
        top: 20%;
        width: 100%;
      }
        .yoda-frame{
            display:none;
        }
        .progressbar{
            display:none !important;
        }
        .yoda-loader{
            display:block;
            position: fixed;
            width: 100%;
            top: 20vh;
        }
        #contours-visage {
            fill: none;
            stroke: white;
            animation: draw 0.5s;
            animation-delay: 1s;
          }
          
          #details {
            animation: draw 1s;
            animation-delay: 0.5s;
          }
          #details-visage {
            animation: draw 1s;
            animation-delay:0.5s;
          }
          #details-visage-2 {
            animation: draw 1s;
            animation-delay:0.5s;
          }
          #eyes-color {
            fill:white;
            animation: show 1s;
            animation-delay: 0.5s;
          }
          
          #light-saber {
            animation: show 10s;
            animation: plasma 2s;
            
          }
          #light-saber-2 {
            animation: draw 20s;
            animation-delay: 0.5s;
          }
      
}
    
    
    